.card-header.orange-background Buy a #{data.name}
.card-body
  | You might be able to find new second-hand devices on #[a(href="https://swappa.com/search?q="+data.name) swappa], #[a(href="https://www.ebay.com/sch/i.html?_from=R40&_trksid=p2380057.m570.l1313.TR12.TRC2.A0.H0.Xnexus+5.TRS0&_nkw="+data.name+"&_sacat=0") ebay], or #[a(href="https://duckduckgo.com/?q="+data.name+"&t=canonical&ia=products") other websites]. Shop at at your own risk!
