.card-header.orange-background Bugs and Source #[span.fab.fa-github.fab-space]
.card-body
    p All the #[a(href="https://github.com/ubports", target="_blank") Ubuntu Touch source code] and the #[a(href=href="https://github.com/ubports?utf8=%E2%9C%93&q="+data.device+"&type=&language=", target="_blank") #{data.name} vendor blobs] can be found on GitHub.
    ul(style="margin-left: -20px; margin-bottom: -5px; margin-top: -10px")
      li
        a(href="https://github.com/ubports/ubuntu-touch/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3Abug+", target="_blank") All bugs
      li
        a(href="https://github.com/ubports/ubuntu-touch/issues?q=is%3Aissue+is%3Aopen+label%3A%22device%3A+"+data.device + "%22+label%3Abug", target="_blank") Device bugs
      li
        a(href="https://github.com/ubports/ubuntu-touch/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+label%3Aenhancement+", target="_blank") Feature requests
      li
        a(href="https://docs.ubports.com/en/latest/contribute/bugreporting.html", target="_blank")
          | File a bug
