.card-header.orange-background Releases
.card-body
  table.table(style="margin-bottom: -10px; margin-top: -20px")
    thead
      tr
        th Channel
        th Release Date
    tbody
    each release in releases
      tr
        td #{release.channel}
        td #{release.date}
  //- br
  //- | There are roughly #{data.active-devices} #{data.name}s running Ubuntu Touch at the moment.
