.card-header.orange-background Meet the #{data.name}
.card-body
  div(style="margin-top: 0px;" class="aspect-ratio")
    iframe(width="854" height="480" src=data.video frameborder="0" allowfullscreen)
