#installerModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='UBports Installer', aria-hidden='true')
    .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5.modal-title UBports Installer
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
          .modal-body.text-center
            p The UBports Installer is available on all major operating systems. Klick the buttons below to start the download, or check out the latest #[a(href="https://github.com/ubports/ubports-installer/releases/latest", target="_blank") GitHub release] for alternative packages and release notes.
            p If you experience any problems, you might want to check out these #[a(href="https://github.com/ubports/ubports-installer#troubleshooting", target="_blank") tips for troubleshooting]. If that doesn't help, please #[a(href="https://github.com/ubports/ubports-installer/issues/new", target="_blank") file a bug].
            a.button.btn.btn-primary(type="button", href="/installer/exe")
              | Windows
              span.fab.fa-windows.fab-space
            a.button.btn.btn-primary(type="button", href="/installer/dmg", style="margin-left: 15px; margin-right: 15px")
              | macOS
              span.fab.fa-apple.fab-space
            a.button.btn.btn-primary(type="button", href="/installer/deb")
              | Linux
              span.fab.fa-linux.fab-space
            p(style="margin-top: 15px") Alternatively, you can install the snap package on any Linux distribution:
            pre snap install ubports-installer
            if data.install.installable
              .text-center(style="margin-top: 15px")
                a.button.btn.btn-primary.btn-xl.orange-background(href="", data-toggle="modal" data-target="#manualInstallationModal") Manual Installation
